<!DOCTYPE html>
{% extends "firstapp/interviewr_portal/Interview_landing.html" %}
{% block body_block%}
{% if video_filled == 'False' %}
<div class="page_specific_heading">
  <center><div class="col-md-6 alert-success" role="success"><h5>Give Your Introduction, you have 10 seconds once you prepared click start button</h5></div></center>
</div>


<style type="text/css">

body {
  font: 14px "Open Sans", "Arial", sans-serif;
}

video {
  margin-top: 2px;
  border: 2px solid black;
  border-radius: 20px;
}
canvas#canvaspreview {
    display: none;
}

#stopButton{

  display: none;
}

h2 {
  margin-bottom: 4px;
}

.left {
  margin-right: 10px;
  margin-left: 5px;
  float: left;
  width: 160px;
  padding: 0px;
}

.right {
  margin-left: 40%;
  float: left;
  width: 160px;
  padding: 0px;
}

.bottom {
  clear: both;
  padding-top: 10px;
}
        </style>
    </head>
    <body>

<br>
 <div class="left">
  <div id="startButton" class="btn success alert ">
    Start
  </div>
  <h2>Preview</h2>
  <video id="preview" width="600" height="400" autoplay muted></video>
</div>
 <div class="right">
  <div id="stopButton" class="btn alert alert-danger" role="alert">
    Stop
  </div>
  <h2>Recording</h2>
  <video id="recording" width="600" height="400" controls></video>
</div>
 <div class="bottom">
  <pre id="log"></pre>
</div>
<canvas id="canvaspreview" width="160" height="120"></canvas>
<script>
let preview = document.getElementById("preview");
let recording = document.getElementById("recording");
let startButton = document.getElementById("startButton");
let stopButton = document.getElementById("stopButton");
let logElement = document.getElementById("log");
let chunks = [];

let recordingTimeMS = 11000;
 function log(msg) {
  logElement.innerHTML += msg + "\n";
}
 function wait(delayInMS) {
  return new Promise(resolve => setTimeout(resolve, delayInMS));
}
 function startRecording(stream, lengthInMS) {
  let recorder = new MediaRecorder(stream);
  let data = [];

  recorder.ondataavailable = event => data.push(event.data);
  recorder.start();
  log(recorder.state + " for " + (lengthInMS/1000) + " seconds...");

  let stopped = new Promise((resolve, reject) => {
    recorder.onstop = resolve;
    recorder.onerror = event => reject(event.name);
  });

  let recorded = wait(lengthInMS).then(
    () => recorder.state == "recording" && recorder.stop()
  );

  return Promise.all([
    stopped,
    recorded
  ])
  .then(() => data);
}
 function stop(stream) {
  stream.getTracks().forEach(track => track.stop());
}
 startButton.addEventListener("click", function() {
  navigator.mediaDevices.getUserMedia({
    video: true,
    audio: true
  }).then(stream => {
    setIntervalX(function () {
      snap();
  }, 3000, 3)
    preview.srcObject = stream;
    preview.captureStream = preview.captureStream || preview.mozCaptureStream;

    return new Promise(resolve => preview.onplaying = resolve);
  }).then(() => startRecording(preview.captureStream(), recordingTimeMS))
  .then (recordedChunks => {

    let recordedBlob = new Blob(recordedChunks, { type: "video/webm" });
    clearInterval();
    recording.src = URL.createObjectURL(recordedBlob);

    log("Successfully recorded " + recordedBlob.size + " bytes of " +
        recordedBlob.type + " media.");
  }).catch(log);
}, false); stopButton.addEventListener("click", function() {
  stop(preview.srcObject);
}, false);


var canvas = document.createElement("canvas");
canvas.width = 640;
canvas.height = 480;
var snap = () => {
  canvas.getContext('2d').drawImage(preview, 0, 0, 640, 480);
  canvaspreview.getContext('2d').drawImage(canvas, 0, 0, 160, 120);
  var jpgfile = canvaspreview.toDataURL("image/jpeg");
  var form = new FormData();
  form.append('image', jpgfile);
  var token = '{{csrf_token}}';

  $.ajax({
    headers: { "X-CSRFToken": token },
      url: 'http://localhost:8000/videorecorder/',
      type: 'POST',
      data: form,
      processData: false,
      contentType: false,
      success: function (data) {
          console.log("success");
      },
      error: function () {
         // handle error case here
      }
  });

}

function setIntervalX(callback, delay, repetitions) {
    var x = 0;
    var intervalID = window.setInterval(function () {

       callback();

       if (++x === repetitions) {
           window.clearInterval(intervalID);
       }
    }, delay);
}
</script>
{% endif %}
{% endblock %}
