<!DOCTYPE html>
{% extends "firstapp/base.html" %}

{% block body_block%}


<div class="row page_specific_heading">
  {% if alert %}
  <div class="alert alert-danger" role="alert">
  <b>{{alert}}</b>
  </div>
  {% else %}
<div class="col-sm-9"><h1>MULTIPLE CHOICE QUESTION</h1></div>
{% endif %}
</div>

<div class="form-popup-question-bank" id="myForm" >
  <form method="POST" action="/Question_bank/?user={{user}}&method=Question_bank" class="form-container">
    <h1>Enter Question Title</h1>
    <br>
    <br>
    {% csrf_token %}
    {{ form_question.Department }}
    {{ form_question.Question_Domain }}
    {{ form_question.question }}
    <br>
    {{ form_question.correct_answer }}
    {{ form_question.choice_two }}
    {{ form_question.choice_three }}
    {{ form_question.choice_four }}

      <br>
      <br>
    <button type="submit" class="btn">Add Question</button>
  </form>
</div>

{% endblock %}
