<!DOCTYPE html>
{% extends "firstapp/base.html" %}

{% block body_block%}


<div class="row page_specific_heading">

<div class="col-sm-6"><h1>Manage Questions</h1></div>

<div class="col-sm-6 invite-button">
<button class="btn job-create">Add Question Answer</button>

</div>

</div>

<div class="row cadidate_Searching">
<div class="col-sm-3"><input type="text" class="position form-control" placeholder="Question"></div>
<div class="col-sm-3"><select class="position form-control" id="interview_status">
    <option value="" selected disabled hidden>--Question Type--</option>
    <option>Text</option>
    <option>Single Choice</option>
    <option>Multiple Choice</option>
  </select></div>
  <div class="col-sm-3"><select class="position form-control" id="interview_status">
      <option value="" selected disabled hidden>--Answer Type--</option>
      <option>Video</option>
      <option>Text</option>
    </select></div>
<div class="col-sm-3">
  <button class="position btn search-candidate">Search</button>
  <button class="position btn ">Reset</button>
</div>

</div>


<div class="row number_rows">
<div class="col-sm-2  number_row_left">
  <select class="position form-control" id="rows_status">
    <option>5</option>
    <option>10</option>
    <option>15</option>
  </select>
  <b>Record Per Page</b>
</div>
<div class="col-sm-10  number_row_right"><button class="position btn btn-danger">Delete</button></div>
</div>


<div class="row job_table">
  <table class="ranking_report">
  <thead class="border_thead">
  <tr class="table_row_data">
    <td><th>QUESTION</th> </td>
    <td><th>QUESTION TYPE</th> </td>
    <td><th>ANSWER TYPE</th> </td>
    <td><th>CREATE DATE</th> </td>
    <td><th>ACTIONS</th> </td>
  </tr>
  </thead>
  </table>

</div>
{% endblock %}
