<!DOCTYPE html>
{% extends "firstapp/base.html" %}
{% block body_block%}

<div class="page_specific_heading">
<h1>Ranking Reports</h1>
</div>

<table class="ranking_report">
<thead class="border_thead">
<tr>
  <th>Name</th>
  <th>InvitationCode</th>
  <th>Click To Check Your Report</th>
</tr>
</thead>
<tbody>

  {% for row in data %}
<tr>
  <form action= "{% url 'first_app:rankingreport' %}" method = "POST" >
  <th><input name='name' value="{{row.Interviewr_name}}">{{row.Interviewr_name}}</th>
  <th><input name='code' value="{{row.Invitation_Code}}">{{row.Invitation_Code}}</th>
  <th><input style="float:right;" type="submit" name="check" class="submit btn" id="submit" value="See Details"/></th>
  {% csrf_token %}
  </form>
  </tr>
  {% endfor %}

</tbody>

</table>

{% endblock %}
